body {
    background-color: blue;
    color: gold;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header, h1, p {
    margin: 0;
    padding: 10px;
  }
  
  iframe {
    display: block;
    margin: 20px auto;
    border: none; /* Remove a borda do iframe */
  }